/* Article */

.article {
  .lead {
    margin-bottom: $padding-base-vertical;
  }

  .aside {
    padding-left: 0;
  }
}

.article-figure,
.article-gallery {
  margin-bottom: $padding-base-vertical;
}

.article-figure {
  @include grid-column($grid-gutter-width, 5);
  float: direction-from-layout();
  padding-left: 0;
}

.article-gallery {
  @include grid-column($grid-gutter-width, 3);
  float: direction-from-layout();
  clear: left;
  min-height: 5em;
}

.features-horizontal {
  background: $gray-light;
  margin-bottom: $padding-large-vertical;
  padding: {
    top: $padding-base-vertical;
    bottom: $padding-base-vertical;
  }
  @include clearfix;

  .headline {
    font-size: $font-size-base;
  }
}


// TODO: This is a tossup between adding media queries and including a hidden
//       mixin, or adding responsive classes (i.e. https://github.com/twbs/bootstrap/blob/master/less/responsive-utilities.less).
//       Classes would make it a lot harder to add in the views, especially
//       when looping over multiple objects.
@media (max-width: $bp-smaller) {
  .features-horizontal {
    @include hidden;
  }
}

@media (max-width: $bp-small) {
  .features-horizontal-list li {
    &:last-child {
      @include hidden;
    }
  }
}
