%h4.sg-head.sg-sub= link_to('Headline byline', index_url(url: 'molecules/blocks/headline_byline'))
= render('pages/molecules/blocks/headline_byline')

%h4.sg-head.sg-sub= link_to('Thumb headline', index_url(url: 'molecules/blocks/thumb_headline'))
= render('pages/molecules/blocks/thumb_headline')
