.block.block-spotlight
  = link_to('#', class: 'b-inner') do
    .b-title
      %h4.widget-title Spotlight
    .b-thumb
      = render('pages/atoms/images/square')
    .b-text
      = render('pages/molecules/text/caption')
