.block.block-thumb
  = link_to('#', class: 'b-inner') do
    .b-thumb
      = render('pages/atoms/images/square')
    .b-text
      %h3.headline Headline: Lorem ipsum headline slipsum
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, aperiam, praesentium, sapiente, ipsa tempora esse temporibus ipsum ducimus pariatur optio cum veritatis quaerat! Ea, enim, ex ad asperiores incidunt non.
