:ruby
  colors = {
    black: '#222',
    gray_dark: '#333',
    gray: '#555',
    gray_light: '#999',
    gray_lighter: '#eee',
    white: '#fff',
    brand_primary: '#428bca',
    brand_success: '#5cb85c',
    brand_warning: '#f0ad4e',
    brand_danger: '#d9534f',
    brand_info: '#5bc0de'
  }

%ul.sg-colors.list-inline
  - colors.each do |color, hex|
    %li
      %span.sg-swatch{ style: "background: #{hex}"}
      %span.sg-label #{color}
