%p Primary font
%p
  %em Primary font italic
%p
  %strong Primary font bold

%p.font-secondary Secondary font
%p.font-secondary
  %em Secondary font italic
%p.font-secondary
  %strong Secondary font bold
