%form.newsletter-form.inline-form
  %fieldset
    %legend.is-vishidden Sign up for our newsletter
    %label{ for: 'newsletter-scope' } Sign up for our newsletter
    .inline-container
      %input.newsletter-field#newsletter-field{ type: 'newsletter', placeholer: 'Email address'}
      %button.newsletter-submit Sign me up
