%form.search-form.inline-form{ role: 'search' }
  %fieldset
    %legend.visuallyhidden Search
    %label.visuallyhidden{ for: 'search-field' } Search
    %input#search-field.search-field{ type: 'search', placeholder: 'Search' }
    %button.search-submit
      %span.icon-search{ 'aria-hidden' => true }
      %span.visuallyhidden Search
