.carousel-list-carousel
  .carousel-container
    = render('pages/molecules/blocks/block_inset')
  .carousel-controls
    = link_to('&larr;', '#', class: 'carousel-prev')
    .carousel-pagination 1/5
    = link_to('&rarr;', '#', class: 'carousel-next')
