%article.article
  = render('pages/organisms/article/article_header')
  = render('pages/molecules/components/sharingbar')
  = render('pages/organisms/article/article_body')
  = render('pages/organisms/comments/comment_thread')
