.vcard
  .org Company Name
  .adr
    .street-address 1234 Main St.
    %span.locality Anywhere
    ,
    %span.postal-code 101010
    ,
    %abbr.region{ title: 'California' } CA
    .country-name USA
  .tel +1.888.123.4567
