<iframe id="sg-viewport" src="<%= page_url(:id => params[:url] || 'styleguide') %>"></iframe>
<!--<%# unless @articles.blank? %>-->
  <!--<div class="widget article-articles">-->
    <!--<ul>-->
      <!--<%# @articles.each do |article| %>-->
        <!--<li>-->
            <!--<div class="info">-->
              <!--<span class="date"><%#= l(article.date) %></span>-->
              <!--<%# unless article.keyword.to_s.blank? %>-->
                <!--<%#= link_to('#', :class => 'keyword') do %>-->
                  <!--<span><%#= article.keyword %></span>-->
                <!--<%# end %>-->
              <!--<%# end %>-->
            <!--</div>-->
            <!--<div class="alpha">-->
              <!--<div class="image">-->
                <!--<%#= link_to(content_image_tag(article.image, :alt => article.title), '#') unless article.image.blank? %>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="omega">-->
              <!--<div class="content">-->
                <!--<h6 class="title">-->
                  <!--<%#= link_to(article.title, '#') %>-->
                <!--</h6>-->
              <!--</div>-->
            <!--</div>-->
        <!--</li>-->
      <!--<%# end %>-->
    <!--</ul>-->
  <!--</div>-->
<!--<%# end %>-->
