%div
  %button{ type: 'button', class: 'btn' } Unstyled Button
  %button{ type: 'button', class: 'btn btn-default' } Default Button
  %button{ type: 'button', class: 'btn btn-default disabled' } Disabled Button
  %button{ type: 'button', class: 'btn btn-success' } Success Button
  %button{ type: 'button', class: 'btn btn-warning' } Warning Button
  %button{ type: 'button', class: 'btn btn-link' } Link Button
