.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Buttons', index_url(url: 'atoms/buttons/buttons'))
  = render('pages/atoms/buttons/buttons')
  %h4.sg-head.sg-sub
    = link_to( 'Link Buttons', index_url(url: 'atoms/buttons/buttons'))
  = render('pages/atoms/buttons/links')
