%div
  %a{ href: '#', class: 'btn btn-default' } Button
  %a{ href: '#', class: 'btn btn-alt' } Alternate Button
  %a{ href: '#', class: 'btn btn-default disabled' } Disabled Button
  %a{ href: '#', class: 'btn btn-warning' } Warning Button
  %a{ href: '#', class: 'btn btn-link' } Link Button
