// colors
$black: lighten(#000, 13.5%); // #222
$gray-dark: lighten(#000, 20%);   // #333
$gray: lighten(#000, 33.5%); // #555
$gray-light: lighten(#000, 60%);   // #999
$gray-lighter: lighten(#000, 93.5%); // #eee
$white: #fff;

$brand-primary:         #428bca;
$brand-success:         #5cb85c;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$brand-info:            #5bc0de;

// boilerplate
$body-bg: $white;
$text-color: $black;

// links
$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);

// breakpoints
// these are only examples. they are not to be used blindly, adjust them
// based on the content of the page.
$bp-smaller: em(480) !default;
$bp-small: em(768) !default;
$bp-medium: em(992) !default;
$bp-large: em(1200) !default;

// grid
$layout-direction: left !default;
$grid-wrapper-small: em(750) !default;
$grid-wrapper-medium: em(970) !default;
$grid-wrapper-large: em(1170) !default;

$grid-columns: 12 !default;
$grid-gutter-width: em(30) !default;

// type
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: em(14);
$font-size-large: em(18);
$font-size-small: em(12);

$line-height-base: (20/14);
$line-height-computed: em($line-height-base);

$headings-font-family: $font-family-base;
$headings-font-weight: 500;
$headings-line-height: 1.1;

// components
$padding-base-vertical: 6px; //em(6);
$padding-base-horizontal: 12px; //em(12);

$padding-large-vertical: 10px; //em(10);
$padding-large-horizontal: 16px; //em(16);

$padding-small-vertical: 5px; //em(5);
$padding-small-horizontal: 10px; //em(10);

$line-height-large: 1.33;
$line-height-small: 1.5;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$component-active-color: $white;
$component-active-bg: $brand-primary;

// buttons
$btn-font-weight: bold;

$btn-default-color: $gray-dark;
$btn-default-bg: $white;
$btn-default-border: $gray-light;

$btn-primary-color: $white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

$btn-success-color: $white;
$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 5%);

$btn-warning-color: $white;
$btn-warning-bg: $brand-warning;
$btn-warning-border: darken($btn-warning-bg, 5%);

$btn-danger-color: $white;
$btn-danger-bg: $brand-danger;
$btn-danger-border: darken($btn-danger-bg, 5%);

$btn-info-color: $white;
$btn-info-bg: $brand-info;
$btn-info-border: darken($btn-info-bg, 5%);

$btn-link-disabled-color: $gray-light;

// forms
$legend-color: $gray-dark;
$legend-border-color: $black;
