* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $white;
  font: 100%/1.25 $font;
  -webkit-text-size-adjust: 100%;
  color: $gray-dark;
}
