.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Video', index_url(url: 'atoms/media/video'))
  = render('pages/atoms/media/video' )

  %h4.sg-head.sg-sub
    = link_to('Audio', index_url(url: 'atoms/media/audio'))
  = render('pages/atoms/media/audio')
