/*------------------------------------*\
$STYLE GUIDE VIEWPORT
\*------------------------------------*/

/* Viewport */
#sg-vp-wrap {
	text-align: center;
	width: 100%;

	@media all and (min-width: $sg-bp-med) {
		position: fixed;
		top: $offset-top;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}

	&.wrap-animate {
		-webkit-transition: left 0.3s ease-out;
		-moz-transition: left 0.3s ease-out;
		-ms-transition: left 0.3s ease-out;
		-o-transition: left 0.3s ease-out;
		transition: left 0.3s ease-out;
	}

}

#sg-viewport {
	border: 0;
	x-margin: 0 auto;
	height: 100%;
	width: 100%;

	&.hay-mode {
		-webkit-transition: all 40s linear;
		-moz-transition: all 40s linear;
		-ms-transition: all 40s linear;
		-o-transition: all 40s linear;
		transition: all 40s linear;
	}
}

#sg-cover {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	z-index: 20;
	cursor: col-resize;
}

#sg-gen-container {
	height: 100%;
	text-align: center;
	margin: 0 auto;

	&.hay-mode {
		-webkit-transition: all 40s linear;
		-moz-transition: all 40s linear;
		-ms-transition: all 40s linear;
		-o-transition: all 40s linear;
		transition: all 40s linear;
	}
}

#sg-rightpull-container {
	width: 10px;
	float: right;
	margin: 0;
	height: 100%;
	cursor: col-resize;
}

#sg-rightpull {
	margin: 0;
	width: 10px;
	height: 100%;
	background: #999;
	-webkit-transition: background $animate-quick ease-out;
	-moz-transition: background $animate-quick ease-out;
	-ms-transition: background $animate-quick ease-out;
	-o-transition: background $animate-quick ease-out;
	transition: background $animate-quick ease-out;

	&:hover {
		background: #666;
	}

	&:active {
		cursor: col-resize;
		background: #444;
	}
}

.vp-animate {
	-webkit-transition: width 0.8s ease-out;
	-moz-transition: width 0.8s ease-out;
	-ms-transition: width 0.8s ease-out;
	-o-transition: width 0.8s ease-out;
	transition: width 0.8s ease-out;
}
