#page
  = render('pages/organisms/global/header')
  %main.g-wrapper{ role: 'main' }
    .g-col-1
      = render('pages/organisms/article/article')
    .g-col-1
      = render('pages/organisms/article/sidebar')

  = render('pages/organisms/global/footer')
