#page.g-wrapper
  .g-row
    .g-col-12
      = render('pages/organisms/global/header')

  %main.g-row{ role: 'main' }
    .g-small-9
      = render('pages/organisms/article/article')
    .g-small-3
      = render('pages/organisms/components/sidebar')

  .g-row
    .g-col-12
      = render('pages/organisms/global/footer')
