/* Forms */

// remove default fieldset styles
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: $font-size-base * 1.5;
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

// allow only vertical resizing of textareas
textarea {
    resize: vertical;
}

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
};

input[type="file"] {
  display: block;
}
// Fix optgroup Firefox bug per https://github.com/twbs/bootstrap/issues/7611
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}

// Focus for select, file, radio, and checkbox
input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  &:focus {
    @include tab-focus;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  color: $input-color;
  vertical-align: middle;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

.form-group {
  margin-bottom: $padding-small-vertical * 3;
}
