/* Type */

// text
p,
.text {
  font-size: $font-size-base;
  margin: 0 0 ($line-height-computed / 2);
}

.intro {
  font-weight: bold;
}

// headings
%headings-base {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

%headings-large {
  margin: {
    top: $line-height-computed;
    bottom: $line-height-computed / 2;
  }
}

%headings-small {
  margin: {
    top: $line-height-computed / 2;
    bottom: $line-height-computed / 2;
  }
}

@for $i from 1 through 4 {
  h#{$i},
  .h#{$i} {
    @extend %headings-base;
    // h1 starts at 36px, decreases by 6 each smaller heading
    font-size: em(36 - (($i - 1) * 6));
  }
}

h5,
.h5 {
  @extend %headings-base;
  font-size: $font-size-base;
}

h6,
.h6 {
  @extend %headings-base;
  font-size: $font-size-small;
}

@for $i from 1 through 3 {
  h#{$i},
  .h#{$i} {
    @extend %headings-large;
  }
}

@for $i from 4 through 6 {
  h#{$i},
  .h#{$i} {
    @extend %headings-small;
  }
}

// lists
ul,
ol {
  margin: {
    top: 0;
    bottom: $line-height-computed / 2;
  }

  ul,
  ol {
    margin-bottom: 0;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;

  > li {
    display: inline-block;
    padding: {
      left: $padding-base-horizontal;
      right: $padding-base-horizontal;
    }
  }
}
