/* Type */

// TODO: use rem's with px fallback?
//
// @mixin rem-sizde($size: 24, $base: 16) {
//  font-size: $size + px;
//  font-size: ($size / $base) * 1rem;
// }

// text
p,
.text {
  margin: 0 0 ($line-height-computed / 2);
  font-size: $font-size-base;
}

.lead {
  margin-bottom: $line-height-computed;
  font-weight: bold;
  font-weight: 200;
  line-height: 1.4;
}

small,
.small {
  font-size: 85%;
}

// headings
@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;

    small {
      font-weight: normal;
      line-height: 1;
      color: $headings-small-color;
    }
  }
}

h1,
h2,
h3  {
  margin: {
    top: #{$line-height-main}px;
    bottom: #{$line-height-computed / 2}px;
  }

  small {
    font-size: 65%;
  }
}

h4,
h5,
h6 {
  margin: {
    top: $line-height-computed / 2;
    bottom: $line-height-computed / 2;
  }

  small {
    font-size: 75%;
  }
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}


// lists
ul,
ol {
  margin: {
    top: 0;
    bottom: $line-height-computed / 2;
  }

  ul,
  ol {
    margin-bottom: 0;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;

  > li {
    display: inline-block;
    padding: {
      left: $padding-base-horizontal;
      right: $padding-base-horizontal;
    }
  }
}
