.social-share{ data: { affix: json_true }}
  %ul.social-share-list.list-inline
    %li
      = link_to('Like')
    %li
      = link_to('Tweet')
    %li
      = link_to('Email')
    %li
      = link_to('Comment')
    %li
      %button.btn Increase
      %button.btn Decrease
