.g-wrapper.demo
  .g-row
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1
    .g-col-1 .g-col-1

    .g-col-2 .g-col-2
    .g-col-2 .g-col-2
    .g-col-2 .g-col-2
    .g-col-2 .g-col-2
    .g-col-2 .g-col-2
    .g-col-2 .g-col-2

    .g-col-3 .g-col-3
    .g-col-3 .g-col-3
    .g-col-3 .g-col-3
    .g-col-3 .g-col-3

    .g-col-4 .g-col-4
    .g-col-4 .g-col-4
    .g-col-4 .g-col-4

    .g-col-6 .g-col-6
    .g-col-6 .g-col-6

    .g-col-12 .g-col-12
