.g-wrapper.demo
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1

  .g-col-2 .g-col-2
  .g-col-2 .g-col-2
  .g-col-2 .g-col-2
  .g-col-2 .g-col-2
  .g-col-2 .g-col-2
  .g-col-2 .g-col-2

  .g-col-3 .g-col-3
  .g-col-3 .g-col-3
  .g-col-3 .g-col-3
  .g-col-3 .g-col-3

  .g-col-4 .g-col-4
  .g-col-4 .g-col-4
  .g-col-4 .g-col-4

  .g-col-6 .g-col-6
  .g-col-6 .g-col-6

  .g-col-12 .g-col-12

.g-wrapper.demo
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1
  .g-small-1 .g-small-1

  .g-small-2 .g-small-2
  .g-small-2 .g-small-2
  .g-small-2 .g-small-2
  .g-small-2 .g-small-2
  .g-small-2 .g-small-2
  .g-small-2 .g-small-2

  .g-small-3 .g-small-3
  .g-small-3 .g-small-3
  .g-small-3 .g-small-3
  .g-small-3 .g-small-3

  .g-small-4 .g-small-4
  .g-small-4 .g-small-4
  .g-small-4 .g-small-4

  .g-small-6 .g-small-6
  .g-small-6 .g-small-6

  .g-small-12 .g-small-12


.g-wrapper.demo
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1
  .g-medium-1 .g-medium-1

  .g-medium-2 .g-medium-2
  .g-medium-2 .g-medium-2
  .g-medium-2 .g-medium-2
  .g-medium-2 .g-medium-2
  .g-medium-2 .g-medium-2
  .g-medium-2 .g-medium-2

  .g-medium-3 .g-medium-3
  .g-medium-3 .g-medium-3
  .g-medium-3 .g-medium-3
  .g-medium-3 .g-medium-3

  .g-medium-4 .g-medium-4
  .g-medium-4 .g-medium-4
  .g-medium-4 .g-medium-4

  .g-medium-6 .g-medium-6
  .g-medium-6 .g-medium-6

  .g-medium-12 .g-medium-12

.g-wrapper.demo
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1
  .g-large-1 .g-large-1

  .g-large-2 .g-large-2
  .g-large-2 .g-large-2
  .g-large-2 .g-large-2
  .g-large-2 .g-large-2
  .g-large-2 .g-large-2
  .g-large-2 .g-large-2

  .g-large-3 .g-large-3
  .g-large-3 .g-large-3
  .g-large-3 .g-large-3
  .g-large-3 .g-large-3

  .g-large-4 .g-large-4
  .g-large-4 .g-large-4
  .g-large-4 .g-large-4

  .g-large-6 .g-large-6
  .g-large-6 .g-large-6

  .g-large-12 .g-large-12
