.g-wrapper.demo
  .g-col-1 1/12
  .g-col-11 11/12
  .g-col-2 2/12
  .g-col-10 10/12
  .g-col-3 3/12
  .g-col-9 9/12
  .g-col-4 4/12
  .g-col-8 8/12
  .g-col-5 5/12
  .g-col-7 7/12
  .g-col-6 6/12
  .g-col-6 6/12

.g-wrapper.demo
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1
  .g-col-1 .g-col-1

  .g-col-2 .g-col-2
  .g-col-2 .g-col-2
  .g-col-2 .g-col-2
  .g-col-2 .g-col-2
  .g-col-2 .g-col-2
  .g-col-2 .g-col-2

  .g-col-3 .g-col-3
  .g-col-3 .g-col-3
  .g-col-3 .g-col-3
  .g-col-3 .g-col-3

  .g-col-4 .g-col-4
  .g-col-4 .g-col-4
  .g-col-4 .g-col-4

  .g-col-6 .g-col-6
  .g-col-6 .g-col-6
