.g-wrapper.demo
  .g-row
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1
    .g-large-1 .g-large-1

    .g-large-2 .g-large-2
    .g-large-2 .g-large-2
    .g-large-2 .g-large-2
    .g-large-2 .g-large-2
    .g-large-2 .g-large-2
    .g-large-2 .g-large-2

    .g-large-3 .g-large-3
    .g-large-3 .g-large-3
    .g-large-3 .g-large-3
    .g-large-3 .g-large-3

    .g-large-4 .g-large-4
    .g-large-4 .g-large-4
    .g-large-4 .g-large-4

    .g-large-6 .g-large-6
    .g-large-6 .g-large-6

    .g-large-12 .g-large-12
