.g-wrapper.demo
  .g-row
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1
    .g-medium-1 .g-medium-1

    .g-medium-2 .g-medium-2
    .g-medium-2 .g-medium-2
    .g-medium-2 .g-medium-2
    .g-medium-2 .g-medium-2
    .g-medium-2 .g-medium-2
    .g-medium-2 .g-medium-2

    .g-medium-3 .g-medium-3
    .g-medium-3 .g-medium-3
    .g-medium-3 .g-medium-3
    .g-medium-3 .g-medium-3

    .g-medium-4 .g-medium-4
    .g-medium-4 .g-medium-4
    .g-medium-4 .g-medium-4

    .g-medium-6 .g-medium-6
    .g-medium-6 .g-medium-6

    .g-medium-12 .g-medium-12
