.g-wrapper.demo
  .g-row
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1
    .g-small-1 .g-small-1

    .g-small-2 .g-small-2
    .g-small-2 .g-small-2
    .g-small-2 .g-small-2
    .g-small-2 .g-small-2
    .g-small-2 .g-small-2
    .g-small-2 .g-small-2

    .g-small-3 .g-small-3
    .g-small-3 .g-small-3
    .g-small-3 .g-small-3
    .g-small-3 .g-small-3

    .g-small-4 .g-small-4
    .g-small-4 .g-small-4
    .g-small-4 .g-small-4

    .g-small-6 .g-small-6
    .g-small-6 .g-small-6

    .g-small-12 .g-small-12
